@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

}

img {
  width: 600px;

}



.left-links, .right-links {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  
}




content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
 
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

a {
  /* text-decoration: none; removes the underlined text for our links. 
  We use 'a' to target the universal selecter for the links. */
  text-decoration: none;
  color: #666;

}

.header, 
.footer {
   display: flex;
   padding: 16px;
   display: flex;
  justify-content: space-between;
  
}

.footer {
  background:#eee;

}


ul {
  /* List-style: none; removes the bullets on list items.
  We use 'ul' to target the universal selecter for the list items. */
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 16px

}